@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Mansalva&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  -------------------------------
            Custom Styling
    ------------------------------  */

@layer components {
    .max-width {
        @apply max-w-[1440px] mx-auto;
    }
}

.mask::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1rem;
    left: 50%;
    width: 90%;
    height: 340px;
    filter: blur(250px);
    border-radius: 999px;
    background: #ccb2ff;
    transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
    .mask::before {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(87, 109, 223, 0.3);
        filter: blur(400px);
    }
}

.primary-btn:hover {
    background-color: #6737c5;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.primary-btn:focus {
    background-color: #6737c5;
}

.sec-btn {
    transition: all 0.3s ease-in;
}

.sec-btn:hover {
    border: 0.5px solid #7e41f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.sec-btn:focus {
    border: 0.5px solid #7e41f5;
    background: #eae0fe;
}
