@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Mansalva&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  -------------------------------
            Custom Styling
    ------------------------------  */

.mask::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1rem;
    left: 50%;
    width: 90%;
    height: 340px;
    filter: blur(250px);
    border-radius: 999px;
    background: #ccb2ff;
    transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
    .mask::before {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(87, 109, 223, 0.3);
        filter: blur(400px);
    }
}
